.container{
  
}

.App {
  /* text-align: center; */
  /* background-color: black; */
  /* background-image: url("https://i.pinimg.com/originals/45/25/f9/4525f9a44fdfe0b78d714137dad76b14.png"); */
  font-family:  Monaco;
  color: #0f0;
  width: 98%;
  position: absolute;
  top: 0;
  left: 0;
  border: dotted;
  border-color: #0f0;
  
  display: flex;
  flex-direction: column;
  min-height: 99%;

}

.logo{
  text-align: center;
  cursor: pointer;
}

.logo:hover{
  /* background-color: #1a7c1a;
  color: #0f0; */

}

nav a.active {
  background-color: #1a7c1a;
  /* color: #33FF33; */
  color: #0f0;
}

nav a {
  /* color: #33FF33; */
  color: #0f0;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-btns{
  border: dotted;
  border-color: #0f0;
  padding: 1%;
  margin-left: 4%;
  margin-right: 4%;
}

.nav-btn{
  text-decoration: none;
}


.footer {
  border-top: dotted;
  border-color: #0f0;
  margin-top: auto;
}

.copyright{
  font-size: 20px;
  display: flex;
  align-content: flex-start;
  padding-left: 50px; 
}

.home-btns {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}

.se-btn{
  background-color: rgb(2, 10, 0);
  color: #0f0;
  font-family:  Monaco;
  font-size: 20px;
  padding: 150px 32px;
  border: dotted;
  border-color: #0f0;
  width: 40%;
  cursor: pointer;
  outline: none;
}

.se-btn:hover{
  background-color: #1a7c1a;
  color: #0f0;
}

.filmmaker-btn{
  background-color: rgb(2, 10, 0);
  color: #0f0;
  font-family:  Monaco;
  font-size: 20px;
  padding: 150px 32px;
  border: dotted;
  border-color: #0f0;
  width: 40%; 
  cursor: pointer;
  outline: none;
}

.filmmaker-btn:hover{
  background-color: #1a7c1a;
  color: #0f0;
}

.click-above {
  text-align: center;
  margin-top: 10%;
}

.filmmaker-page{
  text-align: center;
}

.reel{
  border: dotted;
  border-color: #0f0;
  margin:0%;
  padding: 0%;
}

.video-btns {
}

.videos-btn {
  background-color: rgb(2, 10, 0);
  color: #0f0;
  font-family:  Monaco;
  font-size: 15px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: dotted;
  border-color: #0f0;
  width: 35%; 
  cursor: pointer;
  outline: none;
}

.videos-btn:hover{
  background-color: #1a7c1a;
  color: #0f0;
}

.se-projects-header{
  text-align: center;
}

.se-projects {
  display: flex;
  justify-content: center;
}

.se-rocket-fuel{
  border: dotted;
  border-color: #0f0;
  text-align: center;
  margin: 4%;
}
.se-rocket-fuel-link{
  color: #0f0;
}

.se-yourseum{
  border: dotted;
  border-color: #0f0;
  text-align: center;
  margin: 4%;
  
}
.se-yourseum-link{
  color: #0f0;
}






















/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
